pipeline/pipeline1.json
{
	"name": "pipeline1",
	"properties": {
		"activities": [
			{
				"name": "Get Metadata csv",
				"type": "GetMetadata",
				"dependsOn": [
					{
						"activity": "TotruncateStaging",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"dataset": {
						"referenceName": "sourcecsv",
						"type": "DatasetReference"
					},
					"fieldList": [
						"childItems"
					],
					"storeSettings": {
						"type": "AzureBlobFSReadSettings",
						"recursive": true,
						"enablePartitionDiscovery": false
					},
					"formatSettings": {
						"type": "DelimitedTextReadSettings"
					}
				}
			},
			{
				"name": "ForEach csv read",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "Get Metadata csv",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('Get Metadata csv').output.childItems",
						"type": "Expression"
					},
					"isSequential": true,
					"activities": [
						{
							"name": "Copy data csv to postgre",
							"type": "Copy",
							"dependsOn": [],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"source": {
									"type": "DelimitedTextSource",
									"storeSettings": {
										"type": "AzureBlobFSReadSettings",
										"recursive": true,
										"wildcardFileName": {
											"value": "@item().name",
											"type": "Expression"
										},
										"enablePartitionDiscovery": false
									},
									"formatSettings": {
										"type": "DelimitedTextReadSettings"
									}
								},
								"sink": {
									"type": "AzurePostgreSqlSink",
									"writeBatchSize": 1000000,
									"writeBatchTimeout": "00:30:00",
									"writeMethod": "BulkInsert"
								},
								"enableStaging": false,
								"translator": {
									"type": "TabularTranslator",
									"typeConversion": true,
									"typeConversionSettings": {
										"allowDataTruncation": true,
										"treatBooleanAsNumber": false
									}
								}
							},
							"inputs": [
								{
									"referenceName": "sourcecsv",
									"type": "DatasetReference"
								}
							],
							"outputs": [
								{
									"referenceName": "AzurePostgreSqlTable1",
									"type": "DatasetReference"
								}
							]
						}
					]
				}
			},
			{
				"name": "TotruncateStaging",
				"type": "Script",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"linkedServiceName": {
					"referenceName": "AzurePostgreSql",
					"type": "LinkedServiceReference"
				},
				"typeProperties": {
					"scripts": [
						{
							"type": "Query",
							"text": "Truncate table staging_transactions_stage;"
						}
					],
					"scriptBlockExecutionTimeout": "02:00:00"
				}
			},
			{
				"name": "UpserttoGold",
				"type": "Script",
				"dependsOn": [
					{
						"activity": "ForEach csv read",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"linkedServiceName": {
					"referenceName": "AzurePostgreSqlupsert",
					"type": "LinkedServiceReference"
				},
				"typeProperties": {
					"scripts": [
						{
							"type": "Query",
							"text": "-- Update\nUPDATE gold_fact_transactions tgt\nSET\n    store_id = src.store_id,\n    customer_id = src.customer_id,\n    txn_date = src.txn_date,\n    product_id = src.product_id,\n    quantity = src.quantity,\n    unit_price = src.unit_price,\n    total_amount = src.total_amount,\n    last_updated = src.last_updated\nFROM staging_transactions_stage src\nWHERE tgt.txn_id = src.txn_id\n  AND tgt.last_updated < src.last_updated;\n\n-- Insert\nINSERT INTO gold_fact_transactions (\n    txn_id, store_id, customer_id, txn_date,\n    product_id, quantity, unit_price, total_amount, last_updated\n)\nSELECT \n    src.txn_id, src.store_id, src.customer_id, src.txn_date,\n    src.product_id, src.quantity, src.unit_price,\n    src.total_amount, src.last_updated\nFROM staging_transactions_stage src\nWHERE NOT EXISTS (\n    SELECT 1\n    FROM gold_fact_transactions tgt\n    WHERE tgt.txn_id = src.txn_id\n);"
						}
					],
					"scriptBlockExecutionTimeout": "02:00:00"
				}
			}
		],
		"annotations": [],
		"lastPublishTime": "2026-05-07T10:14:27Z"
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}